.taskApp {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 25%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
